.card {
    display:block;
    background: rgba(0,0,0, .5);
    margin: 20px;
    width: 250px;
    padding: 30px;
    text-decoration:none;
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px -5px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.titulo {
    margin: 0 0 20px;
    padding: 0;
    font-size: 35px;
    color: #4cc9f0;
    text-align: center;
}

.elemento{
    color:aliceblue;
    padding: 5px;
}

.boton {
    background-color: #4b778d;
    width: 30px;
    color: beige;
    border-radius: 15px;
    align-self: flex-end;
    margin: 3px;
    padding: 2px;
}

.boton:hover {
    background-color: #28b5b5;
}